@{

    ViewBag.Title = "Home Page";
}


<div>
    <h1>דמו למודול הקצאת מספרי חשבוניות על-ידי רשות המיסים</h1>
    <h2>OpenAPI Sandbox Invoices Demo</h2>
</div>


<p>For this example to work properly you must perform the following steps:</p>

<p class="bold largeFont">1. <a href="/Home/DevRegister">Complete the Registration to the Sandbox process and create an App there.</a></p>
<p>Note: you can use an existing app. Either change the Redirect URI to @TaxesDemo.BL.Globals.Get("redirectUrl") or get an Authorization Code idependently and "Set" it in step 3.</p>

<div> --------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<a id="2"></a>
<p class="bold largeFont">2. Set the key, secret, etc. here:</p>

<p>
    Available keys and secrets:
    <table class="borders">
        <tr><th>Env סביבה</th>                  <th>Key מפתח</th>                               <th>Secret סוד</th>                        <th>Redirect URI</th>                           <th>Shaaam URL פורטל</th></tr>
        <tr><td>Sandbox localhost:44327</td>    <td>6d2e5958492712a68a9a126377ca9ae0</td>       <td>79b2f283ba87650e59a202d42ce98aff</td>   <td>https://localhost:44327/openAPI</td>        <td>https://openapi.taxes.gov.il/shaam/tsandbox</td></tr>
        <tr><td>Sandbox</td>                    <td>5c49dc2bbf8ef34151fa40b9b8030a5c</td>       <td>a3b632650e969a23d6041da689b64b6b</td>   <td>https://demo.open-api.co.il/OpenAPI</td>    <td>https://openapi.taxes.gov.il/shaam/tsandbox</td></tr>
        <tr><td>Production</td>                 <td>9c83a7320fecabd55319a63a82f34d7a</td>       <td>bb7cb994ab692d1e9fd15157c227e7f8</td>   <td>https://demo.open-api.co.il/OpenAPI</td>    <td>https://openapi.taxes.gov.il/shaam/production</td></tr>
    </table>
</p>

@using (Html.BeginForm("SaveKeyAndSecret", "Home", FormMethod.Post))
{
    <p>* Shaam API URL = @Html.TextBox("shaam_url", TaxesDemo.BL.Globals.Get("shaam_url"), new { style = "width:380px" }) <span style="font-style:italic">URL used to get Authorization Code and Access Tokens</span></p>
    <p>* ITA API URL = @Html.TextBox("shaam_ita_url", TaxesDemo.BL.Globals.Get("shaam_ita_url"), new { style = "width:380px" }) <span style="font-style:italic">URL used to get Allocation Number</span></p>
    <p>* Application Key (also called client_id) = @Html.TextBox("key", TaxesDemo.BL.Globals.Get("client_id"), new { style = "width:280px" })</p>
    <p>* Application Secret (also called client_secret) = @Html.TextBox("secret", TaxesDemo.BL.Globals.Get("client_secret"), new { style = "width:280px" })</p>
    <p>
        The redirect uri must be exactly the same (it is case SENSITIVE!) as you registerd in the "Sandbox" App.<br />
    </p>
    <p>* Redirect uri = @Html.TextBox("redirectUrl", TaxesDemo.BL.Globals.Get("redirectUrl"), new { style = "width:380px" })</p>
    <p>Optional State (e.g. invoice number, client id, etc.) = @Html.TextBox("state", TaxesDemo.BL.Globals.Get("state"))</p>
    <p><input id="Submit" type="submit" class="bold largeFont" value="Set Key, Secret and Redirect URI שמירה" /></p>
}
<p class="bg1">@TaxesDemo.BL.Globals.Get("SaveKeyAndSecret_response")</p>

<div> --------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<a id="3"></a>
<p class="bold largeFont">3. Get an Authorization Code:</p>
@using (Html.BeginForm("GetAuthorization", "Home", FormMethod.Get))
{
    <p>
        When you click "Get" you will need to login via the Tax Authority Login page. <br />
        If no Login Page is displayed then it may be that you are already logged into the Tax Authority domain.<br />
        If the login is OK and the Key is OK you will get an Authorization Code and it will be displayed below.
    </p>
    <p><input id="Submit" type="submit" class="bold largeFont" value="Get Authorization Code קבל קוד הרשאה" /></p>

    <p class="bold">Possible errors:</p>
    <code>{"error":"unauthorized_client","error_description":"Invalid client ID or secret, or client not subscribed to this API"}</code>
    <p>
        1. You entered an incorrect Key or an incorrect Secret.<br />
        2. Your App (in the Sandbox) is not subscribed to the demoApp. <a href="https://openapi-portal.taxes.gov.il/sandbox" target="_blank">Go there</a> and add a subscription.
    </p>
}

<p>Url = @TaxesDemo.BL.Globals.Get("GetAuthorization_url")</p>
<p><span class="bold largeFont">Authorization Code</span> = <span class="bg1">@TaxesDemo.BL.Globals.Get("code")</span></p>
<p><span class="bold largeFont">State (received from Tax Authority)</span> = <span class="bg1">@TaxesDemo.BL.Globals.Get("redirect_state")</span></p>

<div class="smallFont">
    <p class="bold">Or if you have your own App in the Sandbox, then use it to get the Authorization Code and set it manually:</p>
    @using (Html.BeginForm("SaveCode", "Home", FormMethod.Post))
    {
        <p>
            Code =  @Html.TextBox("code", TaxesDemo.BL.Globals.Get("code"), new { style = "width:500px;" })
        </p>

        <p><input id="Submit" type="submit" value="Set Authorization Code קבע קוד הרשאה" /></p>
    }
</div>

<div> --------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<a id="4"></a>
@using (Html.BeginForm("GetToken", "Home", FormMethod.Get))
{
    <p class="bold largeFont">4. Get an Access Token</p>

    <p class="smallFont" style="font-style: italic;">
        Authorization (used in the Headers of the API call) = <br />
        @TaxesDemo.BL.Globals.Get("Authorization")
    </p>

    <p><input id="Submit" type="submit" class="bold largeFont" value="Get Access Token קבל אסימון גישה" /></p>
}

<p>TokenResponse = </p>
<div class="box">
    @Html.Raw(TaxesDemo.BL.Globals.Get("TokenResponse"))
</div>

@using (Html.BeginForm("RefreshToken", "Home", FormMethod.Post))
{
    <span class="bold largeFont">Accss Token</span> <text>=</text> <span class="bg1"> @TaxesDemo.BL.Globals.Get("access_token")</span>
    <span>Expires at = @TaxesDemo.BL.Globals.Get("access_token_expire_at")</span>
    <input id="Submit" type="submit" value="⟳" title="Get a new Access Token via the Refresh Token" />
}

<p><span class="bold largeFont">Refresh Token</span> = <span class="bg1">@TaxesDemo.BL.Globals.Get("refresh_token")</span> <span>Expires at = @TaxesDemo.BL.Globals.Get("refresh_token_expire_at")</span></p>
<p>Once you received the Token the Authorization Code is invalidated. If you want to test again then you need to get a new Authorization Code. Go back to step 3.</p>

<div> --------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<a id="5"></a>
<p class="bold largeFont">5. Get an Invoice Allocation Number (מספר הקצאה):</p>

@using (Html.BeginForm("ResetInvoice", "Home", FormMethod.Post))
{
    <span>You can edit the Invoice details to test the JSON:</span>
    <input id="Submit" type="submit" class="smallFont" value="Reset Invoice אתחל את פרטי החשבונית" />
    <br />
    <br />
}


@using (Html.BeginForm("GetInvoiceNumber", "Home", FormMethod.Post))
{
    @Html.TextArea("invoice_details", TaxesDemo.BL.Globals.Get("invoice_details"), new { style = "width:800px; height: 500px;" })


    <p><input id="Submit" type="submit" class="bold largeFont" value="Get Invoice Allocation Number קבל מספר הקצאה" /></p>
}


<a id="5.1"></a>
<p>Invoice Allocation Number Response = </p>
<div class="box" style="max-height: 600px; overflow:scroll;">
    @Html.Raw(TaxesDemo.BL.Globals.Get("inumberResponse"))
</div>
<a id="5.2"></a>
<p><span class="bold largeFont">Invoice Allocation Number</span> = <span class="bg1">@TaxesDemo.BL.Globals.Get("invoice_number")</span></p>

<div> ----------------------------------------------------------------------------------------------------------------</div>

<div class="smallFont">
    <p class="bold">How to check your Invoice JSON?</p>

    <p>
        Note: when you try to get an "Allocation Number" you may receive criptic validation errors such as:<br />
        <code>Validate: temporary:///swagger/shaam_tsandbox_invoices_v1.json:396: [JSV0008] Invalid number: 0 must be greater than or equal to 1."</code>
    </p>

    <p>
        You can validate your JSON using <a href="https://www.jsonschemavalidator.net/" target="_blank">https://www.jsonschemavalidator.net/</a>.<br />
        Here is the <a href="~/Content/invoice_schema.txt" target="_blank">schema file</a>. Download it and copy the schema to the validator.
    </p>

</div>

<div> --------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<p class="bold largeFont">6. Refresh the Access Token</p>
<p>
    The Access Token is valid only for 10 minutues. Once it expires you can aquire a new Authorization Code and a new Acces Token.<br />
    <span class="bold">But if your login into the Persnal Area (איזור אישי)  expired you will need to login again. This may affect performance and usability.</span> <br />
    Alternatively you can aquire a new Access Token via the Refresh Token.
</p>

@using (Html.BeginForm("RefreshToken", "Home", FormMethod.Post))
{
    <p> @Html.TextBox("refreshToken", TaxesDemo.BL.Globals.Get("refresh_token"), new { style = "width: 900px;" })</p>
    <p><input id="Submit" type="submit" value="Refresh the Access Token" /></p>
}

<a id="6"></a>
<p>Refresh Token Response = </p>
<div class="box">@Html.Raw(TaxesDemo.BL.Globals.Get("refreshTokenResponse"))</div>

